/* Contact Page Specifics */

form {
    display: block;
    width: 500px;
    margin: 30px auto;
}

input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #d7ccc8;
    background: #fff;
    font-size: 1.2rem;
    font-family: inherit;
}

button[type="submit"] {
    display: block;
    width: 100%;
    background: #8a685e;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
}
